<mat-nav-list>
    <h3 mat-subheader>Projects</h3>
    <mat-list-item [routerLink]="['/project']" (click)="onNavClick()">
        <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
        <span mat-line>Home Page</span>
        <span mat-line mat-subheader>All Projects</span>
    </mat-list-item>
    <h3 mat-subheader>Calendar</h3>
    <mat-list-item [routerLink]="['/tasklists']" (click)="onNavClick()">
        <mat-icon mat-list-icon svgIcon="calendar"></mat-icon>
        <span mat-line>Month</span>
        <span mat-line mat-subheader>List projects according to month</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
        <span mat-line>Day</span>
        <span mat-line mat-subheader>List projects according to day</span>
    </mat-list-item>
</mat-nav-list>
