<form action="">
    <h2 mat-dialog-title>New Project</h2>
    <div mat-dialog-content>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Project Name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Project Description">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-raised-button color="primary" (click)="onClick()">Save</button>
        <button type="button" mat-dialog-close mat-button>Close</button>
    </div>
</form>