.card{
    flex: 0 0 260px;
    margin: 10px;
    height: 341px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fab-button{
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}