<form action="">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="button">Login</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>Don't have account? <a routerLink="/register">Register</a></p>
            <p>Foget password? <a href="">Find</a></p>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Good Day
            </mat-card-title>
            <mat-card-subtitle>
        
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/quote_fallback.jpg" alt="">
        <mat-card-content>
            <p>Today is a good day.</p>
        </mat-card-content>
    </mat-card>
</form>